:root {
  --main-color: #007bff; /* Your main color */
  --secondary-color: #009dff; /* A secondary color */
  --text-color: #333; /* Text color */
  --background-color: #fff; /* Background color */
}

body {
  font-family: Arial, sans-serif; /* Font face */
  font-size: 16px; /* Font size */
  font-weight: normal; /* Font weight */
}
