@media (max-width: 768px) {
  .sContainer {
    background-color: #007bff;
  }

  .cDetail {
    margin-left: 10%;
    background-color: var(--main-color);
    color: white;
  }

  button {
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  .imgConts {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    transition: border-color 0.2s ease;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
  }

  .imgConts:hover {
    border-color: #ff5722;
  }

  .flags {
    width: 50%;
    border-radius: 2px;
  }

  .flagInfos {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    column-gap: 10px;
    row-gap: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .pops {
    font-size: 10px;
  }

  .popInfos {
    display: flex;
    flex-direction: column;
  }

  .sinfo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sinfo:nth-child(odd) {
    background-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .sinfo:nth-child(even) {
    background-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .sinfo span {
    font-weight: bold;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
