.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.container img {
  border-radius: 8px;
  border: 1px solid grey;
}

.imgCont {
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  transition: border-color 0.2s ease;
  display: flex;
  flex-direction: row;
}

.imgCont:hover {
  border-color: #ff5722;
}

.flag {
  width: 50%;
  border: 1px solid grey;
  border-radius: 2px;
}

.flagInfo {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
}

.pop {
  font-size: 10px;
}

.popInfo {
  display: flex;
  flex-direction: column;
}

.container p {
  margin: 5px 0;
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgCont {
    flex-direction: row;
  }

  .flagInfo {
    width: 50%;
  }
}
